@page
@model Checkpoint2.Pages.Receitas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receita.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receita.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receita.Ingredientes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receita.Ingredientes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receita.ModoPreparo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receita.ModoPreparo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Receita.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
